body,
html {
	background: #fff;
	font-size: 12px;
}

.utilization .weekDay,
.month-saldo .weekDay {
	width: 100px !important;
}

.headerfixed {
	width: 100%;
	z-index: 1000;
}

/* scrollbar */

.slds-scrollable--y {
	-webkit-overflow-scrolling: touch;
	max-height: 100%;
	overflow: hidden;
	overflow: auto;
}

.slds-scrollable--y::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.slds-scrollable--y::-webkit-scrollbar:window-inactive {
	opacity: 0;
}

.slds-scrollable--y::-webkit-scrollbar-thumb {
	background: #e0e5ee;
	border-radius: 0.5rem;
	box-shadow: #a8b7c7 0 0 0 1px inset;
}

.slds-scrollable--y::-webkit-scrollbar-track {
	background: #a8b7c7;
}

.slds-table--bordered td {
	border: 1px solid #d8dde6
}

/* page */

.slds-table th,
.slds-table td:focus {
	outline: 0;
}

.slds-box {
	padding: 1rem 0 1rem 0;
}

input:focus {
	background-color: #ffffff !important;
	color: #000000 !important;
}

td .focus input {
	background-color: #ffffff;
}

input.checkbox {
	width: 20px !important;
}

.posIcon {
	margin-right: 170px;
	margin-top: 17px;
}

td,
th,
.col {
	position: relative;
}

#staffing #captions .externalEmployee {
	background: rgba(216, 221, 230, 0.55);
}

#filter .slds-dropdown-trigger {
	position: absolute;
}

td:not(.shadow) {
	height: 35px;
	line-height: 100%;
}

.tr.slds-text-body--small sum-up {
	border-top: 2px solid #ccc
}

#captions tr.slds-text-body--small {
	height: 35px;
}

#captions tr.slds-text-body--small td.tdslds-text-body--smal {
	border: 0px;
	position: absolute;
	height: 34px;
	line-height: 37px;
}

#pso-table .slds-x-small-buttons--stacked {
	width: 100px;
	margin: auto;
}

td:not([colspan]) .slds-icon-text-default {
	fill: rgba(0, 0, 0, 0.3);
}

span.ResourceInfo svg {
	width: 12px;
	height: 12px;
}

span.ResourceInfo {
	position: absolute;
	bottom: -1px;
	right: -1px;
	background: rgba(255, 255, 255, 0.9);
	border: 1px solid #d8dde6;
}

#captions table {
	background: #fff;
}

#schedule table {
	background: #fff;
}

#schedule td:not([colspan]):hover::after,
#schedule .col:hover::after {
	background: rgba(134, 184, 228, 0.1);
	border: 1px solid rgba(134, 184, 228, 0.3);
	content: '\00a0';
	height: 100000px;
	position: absolute;
	top: -5000px;
	width: 100%;
	left: 0;
	z-index: 999;
	pointer-events: none;
}

#schedule table {
	overflow: hidden
}

#newpost .slds-modal__close {
	width: 2rem !important;
	height: 2rem !important;
	position: absolute;
	top: -2rem !important;
	right: 0 !important;
}

.slds-backdrop--open {
	opacity: 0.3
}

.sum-up {
	background-color: #eee;
}

.slds-button--icon-border-filled {
	width: 2.25rem;
	height: 2.22rem;
}

/* popup */

.filterpopup {
	position: absolute;
	z-index: 2000;
	margin-left: -13px;
	top: 30px;
	width: 900px;
	border: 1px solid #d8dde6;
	border-radius: 0.25rem;
	padding: 0.25rem 0;
	background: white;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16);
	transform: translateX(0%) !important;
}

.legendpopup {
	position: absolute;
	z-index: 2000;
	right: 58px;
	top: 30px;
	width: 200px;
	border: 1px solid #d8dde6;
	border-radius: 0.25rem;
	padding: 0.25rem 0;
	background: white;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16);
	transform: translateX(0%) !important;
}

.schedulerpopup {
	position: absolute;
	z-index: 2000;
	right: 21px;
	top: 30px;
	width: 300px;
	border: 1px solid #d8dde6;
	border-radius: 0.25rem;
	padding: 0.25rem 0;
	background: white;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16);
	transform: translateX(0%) !important;
}

.schedulerpopup .ui-widget-content {
	border: 0px solid #ddd;
	background: none;
	color: #333;
}

.schedulerpopup .closeButton {
	margin-left: -284px;
	position: absolute;
	margin-top: 16px;
}

.ProjectStatusVisiblepopup {
	z-index: 2000;
	position: absolute;
	left: 57px;
	margin-top: -42px;
	width: 230px;
	border: 1px solid #d8dde6;
	border-radius: 0.25rem;
	padding: 0.25rem 0;
	background: white;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16);
	transform: translateX(0%) !important;
}

.slds-has-dividers--top > .slds-list__item {
	padding: 5px;
}

.ui-widget-overlay {
	z-index: 10000 !important;
}

.billable:not(.schedule) {
	border-left: 5px solid green;
}

#staffing #captions .unbillable {
	border-left: 5px solid red;
}

.legendpopup .slds-has-dividers--top span {
	display: block;
	width: 5px;
	height: 17px;
	float: left;
	margin-right: 10px;
	margin-top: 2px;
}

.CustomColor-blue {
	fill: #0070d2 !important;
}

.CustomColor-text {
	fill: #16325c !important;
}

.center {
	text-align: center
}

.height100 {
	height: 153px;
}

.slds-icon--x-smallMargin {
	margin-top: 3px;
}

#pso-table .padding10left {
	padding-left: 10px !important;
}

#pso-table .sort-asc::after {
	content: "▲";
}

#pso-table .sort-desc::after {
	content: "▼";
}

#pso-table .slds-page-header .ui-widget-header {
	border: 0px;
	background: none;
}

#pso-table .ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 0px;
	background: none;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next:hover,
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
	background: rgba(0, 0, 0, 0.16);
}

.slds-page-header .ui-widget-header {
	border: 1px solid #aaaaaa;
	color: #222222;
	font-weight: bold;
}

#pso-table .ui-datepicker-buttonpane button {
	position: absolute;
	top: 135px;
	left: 229px;
	color: #0070d2;
}

/*calendar*/

.calendar div {
	margin-top: 3px;
	margin-bottom: -5px;
	cursor: pointer;
}

.calendar li:nth-child(-n+3) {
	height: 25px;
	line-height: 23px;
	padding-top: 2px;
}

.calendar li:nth-child(4) {
	width: 260px;
	height: 2px;
	line-height: 1px;
}

.calendar li:nth-child(4) hr {
	border-top: 1px solid #d8dde6;
	margin: 0rem 0;
}

.calendar ul li {
	display: block;
	float: left;
	border: 0px solid #ccc;
	width: 81px;
	margin: 3px;
	line-height: 30px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.calendar ul li:hover {
	background: #495c80;
	color: #fff;
}

.calendar ul li.active {
	background: #495c80;
	color: #fff;
	cursor: pointer;
}

.calendar li:nth-child(-n+3):hover,
.calendar li:nth-child(4):hover {
	background: transparent;
	color: #16325c
}

#pso-table .ui-datepicker-next {
	float: right
}

div.today:hover,
div.today {
	background-image: linear-gradient(45deg, rgba(84, 105, 141, 1.035) 35%, rgba(255, 255, 255, 0) 17%, transparent 33%, rgba(35, 95, 170, 0.035) 62%, rgba(35, 95, 170, -0.965) 84%, transparent 48%, transparent) !important;
	background-size: 50px 26px !important;
	position: absolute;
	width: 10px;
	height: 10px;
	bottom: 1px;
	left: 1px;
}

.project-info a {
	color: #4f6a92;
	line-height: 26px;
}

/*form*/

#filter input {
	width: 277px;
	margin-bottom: 10px;
}

#staffing table input {
	width: 100%;
	background-color: transparent;
	border: 0px solid;
	text-align: center;
}

input:focus {
	outline: none;
}

a {
	color: #0070d2;
	text-decoration: none;
	-webkit-transition: color 0.1s linear;
	transition: color 0.1s linear;
}

a:hover,
a:focus {
	text-decoration: none;
	color: #00396b;
}

a:focus {
	outline: thin dotted;
	outline: 5px auto #1589ee;
	outline-offset: -2px;
}

a:active {
	color: #0070d2;
}

/*table*/

#utilization #captions,
#staffing #captions {
	position: absolute;
	z-index: 1050;
	-webkit-box-shadow: 2px 0px 2px 0px rgba(111, 116, 148, 0.4);
	-moz-box-shadow: 2px 0px 2px 0px rgba(111, 116, 148, 0.4);
	box-shadow: 2px 0px 2px 0px rgba(111, 116, 148, 0.4);
}

.shadow {
	-webkit-box-shadow: 0px 2px 1px 1px rgba(111, 116, 148, 0.4);
	-moz-box-shadow: 0px 2px 1px 1px rgba(111, 116, 148, 0.4);
	box-shadow: 0px 2px 1px 1px rgba(111, 116, 148, 0.4);
	padding: 0px !important;
	position: relative;
}

.fixtd {
	background: rgba(216, 221, 230, 0.15) !important;
}

/*
        #pso-table .slds-table tr > th:first-child,
        .slds-table tr > td:first-child {
        padding-left: 8px;
        }
        */

.table {
	table-layout: fixed;
}

#pso-table .slds-table th,
#pso-table .slds-table td {
	padding: 0 0.5rem;
	white-space: nowrap;
}

.button--neutral {
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #d8dde6;
	background-color: white;
}

/*
        #staffing table tr:nth-child(odd) {
        background:#f8f9fb
        }
        */

.weekDay {
	width: 40px;
	text-align: center
}

#utilization .saldo {
	background: rgba(168, 183, 199, 0.25);
}

tr td.saldo:hover::after,
td.statistic:hover::after,
td.saldo,
td.statistic {
	background: #cfd7e6;
}

.textCenter {
	text-align: center
}

#pso-table tr.project-info > td:hover,
#pso-table tr.project-info > td {
	background: #fff !important;
	border: 0px;
}

table {
	position: relative;
}

#schedule th:first-child,
#schedule tr:first-child,
#schedule td:first-child {
	border-left: 0px !important;
}

#captions th:last-child,
#captions tr:last-child,
#captions td:last-child {
	border-right: 0px !important;
	border-left: 0px !important;
}

#pso-table tbody tr.tableheader > th:hover,
#pso-table tbody tr.tableheader > th {
	background: #cfd7e6 !important;
	vertical-align: bottom;
	font-weight: bold;
	border: 1px solid #a8b7c7;
	padding: 5px;
}

.slds-table:not(.slds-no-row-hover) tbody tr:hover > td,
.slds-table:not(.slds-no-row-hover) tbody tr:hover > th {
	border: 1px solid rgba(134, 184, 228, 0.3);
}

.isNotAllocatable {
	cursor: not-allowed;
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.035) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.035) 50%, rgba(0, 0, 0, 0.035) 75%, transparent 75%, transparent);
	background-size: 28px 28px;
}

col.hover {
	background-color: rgba(0, 140, 203, .9);
}

#pso-table .slds-table--bordered {
	border-top: 0px;
	border-bottom: 0px;
}

#pso-table .slds-table--bordered thead > tr + tr > th {
	border-top: 0px solid #d8dde6;
}

#pso-table .slds-table--bordered td,
#pso-table .slds-table--bordered th {
	border-top: 0px solid #d8dde6;
}

#pso-table .slds-table--bordered:not(.slds-no-row-hover) tbody tr:hover > td,
#pso-table .slds-table--bordered:not(.slds-no-row-hover) tbody tr:hover > th {
	box-shadow: #d8dde6 0 0px 0 inset;
}

#pso-table .slds-table--bordered:not(.slds-no-row-hover) .slds-is-selected:hover > td,
#pso-table .slds-table--bordered:not(.slds-no-row-hover) .slds-is-selected:hover > th {
	border-color: #0070d2;
	box-shadow: #0070d2 0 0px 0 inset;
}

#pso-table .slds-table--bordered:not(.slds-no-row-hover) .slds-is-selected:hover > td.slds-is-selected,
#pso-table .slds-table--bordered:not(.slds-no-row-hover) .slds-is-selected:hover > th.slds-is-selected {
	box-shadow: #0070d2 0 0px 0 0px inset;
}

.Resources {
	font-size: 0.75rem;
}

.Resources.tableheader {
	height: 35px;
}

.Resources .isNotAllocatable {
	cursor: auto;
	background-image: none;
}

tbody.Resources:not(.single-view):before {
	content: '';
	display: block;
	height: 30px;
}

/* events date */

#pso-table #schedule td.saldo span {
	text-align: right;
	padding-right: 10px;
	display: block;
	font-weight: bolder;
	font-size: 1.2em;
}

.has-staffing {
	background: rgba(141, 203, 143, 0.4);
}

.legends .full-holiday,
.Resources .full-holiday {
	background: rgba(255, 165, 0, 0.8)
}

.legends .part-holiday,
.Resources .part-holiday {
	background: rgba(255, 165, 0, 0.4)
}

.fully-staffed {
	background: rgba(141, 203, 143, 0.8);
}

.overstaffed {
	background: rgba(239, 127, 128, 0.8);
}

.partly-staffed {
	background: rgba(141, 203, 143, 0.4)
}

.legends .has-staffing-and-holiday,
.Resources .has-staffing-and-holiday {
	background: rgba(255, 165, 0, 0.4);
	background: -moz-linear-gradient(45deg, rgba(255, 165, 0, 0.4) 50%, rgba(141, 203, 143, 0.4) 50%);
	background: -webkit-linear-gradient(45deg, rgba(255, 165, 0, 0.4) 50%, rgba(141, 203, 143, 0.4) 50%);
	background: linear-gradient(45deg, rgba(255, 165, 0, 0.4) 50%, rgba(141, 203, 143, 0.4) 50%);
}

.month-saldo {
}

.negative-saldo {
	color: red;
	background: red;
}

.positive-saldo {
	color: green;
	background: green;
}

.neutral-saldo {
	color: #54698d;
	background: #54698d;
}

.very-low-utilization {
	color: red;
	background: red;
}

.low-utilization {
	color: #FF8D02;
	background: #FF8D02;
}

.neutral-utilization {
	color: #54698d;
	background: #54698d;
}

.high-utilization {
	color: green;
	background: green;
}

/* tooltip */

[data-tooltip] {
	position: relative;
}

[data-tooltip]::before {
	content: attr(data-tooltip);
	opacity: 0;
	pointer-events: none;
	display: block;
	position: absolute;
	z-index: 1000;
	border: 1px solid #d8dde6;
	border-radius: 0.25rem;
	background: white;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16);
	bottom: 1em;
	color: #54698d;
	line-height: 17px;
	padding: 5px 15px;
	text-align: left;
	font-size: 0.75rem;
	transition: opacity .4s linear;
}

[data-tooltip]:hover::before {
	opacity: 1;
}

.tableheaderBorder {
	border-bottom: 1px solid #cfd7e6 !important;
}

#connection-status:hover:before {
	bottom: auto;
	top: 29px;
	left: -1px;
	width: 139px;
	min-width: 139px;
}

/* PSOUtilization */

div.unit {
	float: right;
}

td:not([colspan]) .slds-icon-text-default2 {
	fill: #54698d;
}

.projectDetails {
	background: rgba(216, 221, 230, 0.55);
}

tr td.saldo:hover::after,
td.statistic:hover::after,
td.saldo,
td.statistic {
	background: #fff;
}

#utilization td.month-utilization,
#utilization td.month-saldo {
	background: #fff;
}