#pso-table,
#pso-table * {
	box-sizing: border-box;
}

#opportunities-filter {
	float: left;
	width: 33%;
}

#opportunities-filter > * {
	display: block;
	float: left;
	margin: 0 1% 1% 0;
	width: 49%;
}

#opportunities-filter select {
	clear: both;
	padding: 1%;
}

#opportunities-filter a {
	display: inline-block;
	margin: 0 0 0 1%;
	width: auto;
}

#opportunities-filter,
#resources-filter {
	float: left;
	width: 33%;
}

#opportunities-filter > *,
#resources-filter > * {
	display: block;
	float: left;
	margin: 0 1% 1% 0;
	width: 49%;
}

#opportunities-filter select,
#resources-filter select {
	clear: both;
	padding: 1%;
}

#opportunities-filter a,
#resources-filter a {
	display: inline-block;
	margin: 0 0 0 1%;
	width: auto;
}

#filter button {
	clear: both;
}

#staffing table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 0;
	min-width: 100%;
	padding: 0;
}

#staffing table th,
#staffing table td {
	border: 1px solid #ccc;
}

.ui-datepicker-calendar {
	display: none;
}